<div id="<%= dom_id trip %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Start:</strong>
    <%= trip.from %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End:</strong>
    <%= trip.to %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= trip.place %>
	<%= trip.country %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this trip", my_trip_path_for(trip), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this trip', edit_user_trip_path(Current.user, trip), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
