<div>
	<div class="bg-red-500">
		<h3 class="font-bold text-white"><%=flash[:alert]%></h3>
	</div>
	<%= form_with url: sign_in_path do |form| %>
		<%= form.text_field :email, placeholder: "Email" %>
		<%= form.password_field :password, placeholder: "**********"%>
	
		<%= form.submit "Sign in" %>
	<% end %>
</div>